hs_err_pid*
.DS_Store
.idea/
.svn/
*.iml
*/*.iml
target/
apache-tomcat*
RemoteSystems*
.metadata/
apache-tomcat-8.0.41/
Server*
generator.properties
.settings/
.project
.classpath
logs/
output/*.zip
output/*

